/* General styles*/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: #32325f;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 90px;
  padding-bottom: 112px;
}

/* -- General styles -- */


/* Hero */

.hero {
  background-color: #f4f5f7;
  padding-top: 74px;
  padding-bottom: 190px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
}

.brand {
  font-size: 20px;
  font-weight: 700;

  text-transform: uppercase;
  color: #95989a;
}

.social {
  display: flex;
  align-items: center;
}

.social-link {
  text-decoration: none;
  margin-left: 20px;
}

.icon {
  width: 26px;
  height: auto;
  fill: #95989a;
}

.icon-instagram {
  width: 21px;
  height: auto;
}

.icon:hover {
  fill: #ffffff;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  width: 50%;
}

.subtitle {
  display: block;
  margin-bottom: 14px;

  font-size: 20px;
  font-weight: 400;
}

.title {
  display: block;
  margin-bottom: 25px;

  font-size: 48px;
  font-weight: 700;
}

.description {
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.price-tag {
  display: block;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 400;
}

.price {
  display: block;
  margin-bottom: 50px;

  font-size: 48px;
  font-weight: 400;

  color: #525f7f;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  margin-right: 30px;

  font-size: 20px;
  font-weight: 700;

  color: #ffffff;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  text-decoration: none;
}

.btn-success {
  background-color: #2dce89;
  border: 2px solid #2dce89;
}

.btn-success:hover {
  color: #2dce89;
  background-color: #fff;
}

.btn-primary {
  background-color: #5e72e4;
  border: 2px solid #5e72e4;
}

.btn-primary:hover {
  color: #5e72e4;
  background-color: #fff;
}

/* -- Hero -- */


/* About */
.about {
  padding-bottom: 157px;
}

.about-title {
  margin-bottom: 98px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  width: 23%;
  margin-right: 2%;
}

.block-img {
  margin-bottom: 40px;
}

.block-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;

  color: #525f7f;
}

/* -- About -- */


/* Footer */
.footer {
  padding-top: 78px;
  padding-bottom: 104px;

  color: #ffffff;
  background-color: #32325f;
}

.footer-wrap {
  display: flex;
}

.footer-block {
  width: 25%;
  margin-right: 11%;
}

.footer-subtitle {
  margin-bottom: 34px;

  font-size: 24px;
  font-weight: 700;
}

.footer-list {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-link:hover {
  color: #95989a;
}

/* -- Footer -- */